.lead_border {
  margin: 0 148px 92px;
}

@media screen and (max-width: 1024px) {
  .lead_border {
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead_border {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead_border {
    margin: 0 2px 64px;
  }
}
