.footer_border {
  margin: 0 48px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer_border {
    margin: 0 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer_border {
    margin: 0 16px;
    padding-bottom: 24px;
  }
}
