.photo-grid_border {
  margin: 0 48px 92px;
}

@media screen and (max-width: 768px) {
  .photo-grid_border {
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid_border {
    margin: 0 16px 64px;
  }
}
