.cover {
  margin: 0 48px 92px;
  max-width: 1184px;
  background-image: url(../../images/04_cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
    max-width: 1184px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0 0 64px;
    max-width: 320px;
  }
}
