.cover__title {
  margin: 0 auto 32px;
  max-width: 560px;
  text-align: center;
  font-size: 72px;
  /* font-size: calc(32px + 40 * ((100vw - 320px) / (1280 - 320))); */
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  /* line-height: calc(76 / 72); */
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + 40 * ((100vw - 320px) / (767 - 320)));
    line-height: calc(76 / 72);
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
